In [143]:
import pandas as pd
matches = pd.read_csv("matches.csv",index_col=0)#set the index column at first place
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,2023-08-12,12:30,Premier League,Matchweek 1,Sat,Home,W,2.0,1.0,Nott'ham Forest,...,Match Report,NaN,15.0,7.0,19.1,0.0,0,0,2023,Arsenal
2,2023-08-21,20:00,Premier League,Matchweek 2,Mon,Away,W,1.0,0.0,Crystal Palace,...,Match Report,NaN,13.0,2.0,16.4,0.0,1,1,2023,Arsenal
3,2023-08-26,15:00,Premier League,Matchweek 3,Sat,Home,D,2.0,2.0,Fulham,...,Match Report,NaN,18.0,9.0,13.8,0.0,1,1,2023,Arsenal
4,2023-09-03,16:30,Premier League,Matchweek 4,Sun,Home,W,3.0,1.0,Manchester Utd,...,Match Report,NaN,17.0,5.0,15.0,0.0,0,0,2023,Arsenal
5,2023-09-17,16:30,Premier League,Matchweek 5,Sun,Away,W,1.0,0.0,Everton,...,Match Report,NaN,13.0,4.0,17.4,0.0,0,0,2023,Arsenal

In [144]:
matches.shape

(1466, 27)

In [145]:
#in epl 38 matches for 2 seasons for 20 teams so we should have 1520 data but some are missing
matches["team"].value_counts()

Arsenal                      74
Nottingham Forest            74
Brentford                    74
Everton                      74
Bournemouth                  74
Wolverhampton Wanderers      74
Fulham                       74
Crystal Palace               73
Liverpool                    73
Aston Villa                  73
Newcastle United             73
West Ham United              73
Manchester City              73
Brighton and Hove Albion     72
Chelsea                      72
Manchester United            72
Tottenham Hotspur            72
Leicester City               38
Leeds United                 38
Southampton                  38
Luton Town                   36
Burnley                      36
Sheffield United             36
Name: team, dtype: int64

In [146]:
matches["round"].value_counts()

Matchweek 1     40
Matchweek 27    40
Matchweek 21    40
Matchweek 22    40
Matchweek 23    40
Matchweek 24    40
Matchweek 25    40
Matchweek 26    40
Matchweek 28    40
Matchweek 19    40
Matchweek 30    40
Matchweek 31    40
Matchweek 32    40
Matchweek 33    40
Matchweek 29    40
Matchweek 35    40
Matchweek 2     40
Matchweek 20    40
Matchweek 18    40
Matchweek 9     40
Matchweek 3     40
Matchweek 4     40
Matchweek 5     40
Matchweek 6     40
Matchweek 7     40
Matchweek 17    40
Matchweek 8     40
Matchweek 10    40
Matchweek 11    40
Matchweek 12    40
Matchweek 13    40
Matchweek 14    40
Matchweek 15    40
Matchweek 16    40
Matchweek 34    34
Matchweek 36    32
Matchweek 37    20
Matchweek 38    20
Name: round, dtype: int64

In [147]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk                int64
pkatt             int64
season            int64
team             object
dtype: object

In [148]:
del matches["comp"]
del matches["notes"]

In [149]:
matches["date"]=pd.to_datetime(matches["date"])#changing the type for convinience

In [150]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes#converting home/away into 0s and 1s
matches["opp_code"] = matches["opponent"].astype("category").cat.codes#generating a code for each team
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")# 16:30 is converted to 16 using regular expression to search for it and converted to int
matches["day_code"] = matches["date"].dt.dayofweek#converting each day of the week to a no. like mon is 0, sun is 6

In [151]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,dist,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code
1,2023-08-12,12:30,Matchweek 1,Sat,Home,W,2.0,1.0,Nott'ham Forest,0.8,...,19.1,0.0,0,0,2023,Arsenal,1,17,12,5
2,2023-08-21,20:00,Matchweek 2,Mon,Away,W,1.0,0.0,Crystal Palace,2.0,...,16.4,0.0,1,1,2023,Arsenal,0,7,20,0
3,2023-08-26,15:00,Matchweek 3,Sat,Home,D,2.0,2.0,Fulham,3.2,...,13.8,0.0,1,1,2023,Arsenal,1,9,15,5
4,2023-09-03,16:30,Matchweek 4,Sun,Home,W,3.0,1.0,Manchester Utd,2.3,...,15.0,0.0,0,0,2023,Arsenal,1,15,16,6
5,2023-09-17,16:30,Matchweek 5,Sun,Away,W,1.0,0.0,Everton,1.0,...,17.4,0.0,0,0,2023,Arsenal,0,8,16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2023-04-30,14:00,Matchweek 34,Sun,Away,L,1.0,3.0,Newcastle Utd,0.8,...,17.3,0.0,0,0,2022,Southampton,0,16,14,6
43,2023-05-08,20:00,Matchweek 35,Mon,Away,L,3.0,4.0,Nott'ham Forest,3.1,...,14.0,0.0,1,1,2022,Southampton,0,17,20,0
44,2023-05-13,15:00,Matchweek 36,Sat,Home,L,0.0,2.0,Fulham,0.4,...,24.2,0.0,0,0,2022,Southampton,1,9,15,5
45,2023-05-21,14:00,Matchweek 37,Sun,Away,L,1.0,3.0,Brighton,0.6,...,13.8,1.0,0,0,2022,Southampton,0,4,14,6
46,2023-05-28,16:30,Matchweek 38,Sun,Home,D,4.0,4.0,Liverpool,1.8,...,17.5,1.0,0,0,2022,Southampton,1,12,16,6

In [152]:
matches["target"] = (matches["result"] == "W").astype("int")#win is 1 loss/draw is 0

In [153]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code,target
1,2023-08-12,12:30,Matchweek 1,Sat,Home,W,2.0,1.0,Nott'ham Forest,0.8,...,0.0,0,0,2023,Arsenal,1,17,12,5,1
2,2023-08-21,20:00,Matchweek 2,Mon,Away,W,1.0,0.0,Crystal Palace,2.0,...,0.0,1,1,2023,Arsenal,0,7,20,0,1
3,2023-08-26,15:00,Matchweek 3,Sat,Home,D,2.0,2.0,Fulham,3.2,...,0.0,1,1,2023,Arsenal,1,9,15,5,0
4,2023-09-03,16:30,Matchweek 4,Sun,Home,W,3.0,1.0,Manchester Utd,2.3,...,0.0,0,0,2023,Arsenal,1,15,16,6,1
5,2023-09-17,16:30,Matchweek 5,Sun,Away,W,1.0,0.0,Everton,1.0,...,0.0,0,0,2023,Arsenal,0,8,16,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2023-04-30,14:00,Matchweek 34,Sun,Away,L,1.0,3.0,Newcastle Utd,0.8,...,0.0,0,0,2022,Southampton,0,16,14,6,0
43,2023-05-08,20:00,Matchweek 35,Mon,Away,L,3.0,4.0,Nott'ham Forest,3.1,...,0.0,1,1,2022,Southampton,0,17,20,0,0
44,2023-05-13,15:00,Matchweek 36,Sat,Home,L,0.0,2.0,Fulham,0.4,...,0.0,0,0,2022,Southampton,1,9,15,5,0
45,2023-05-21,14:00,Matchweek 37,Sun,Away,L,1.0,3.0,Brighton,0.6,...,1.0,0,0,2022,Southampton,0,4,14,6,0
46,2023-05-28,16:30,Matchweek 38,Sun,Home,D,4.0,4.0,Liverpool,1.8,...,1.0,0,0,2022,Southampton,1,12,16,6,0

In [154]:
from sklearn.ensemble import RandomForestClassifier

In [245]:
rf = RandomForestClassifier(n_estimators=150, min_samples_split=10, random_state=1)
#n_estimators=no of decision trees->the more the better
#min_samples_split=min no of samples in leaf of decision tree before splitting the node->if more less chance of overfitting but less accuracy on training data
#random_state=1->same result if data same

In [246]:
train = matches[matches["date"] < '2024-01-01']#78% in training set(matches before 2024 in test set)
test = matches[matches["date"] > '2024-01-01']#22% in test set(matches in 2024 for test set)

In [247]:
predictors = ["venue_code", "opp_code", "hour", "day_code"]

In [248]:
rf.fit(train[predictors], train["target"])#fitting the model for training data

RandomForestClassifier(min_samples_split=10, n_estimators=150, random_state=1)

In [249]:
preds = rf.predict(test[predictors])#for test data

In [250]:
from sklearn.metrics import accuracy_score
accuracy= accuracy_score(test["target"], preds)#checking our accuaracy
accuracy

0.6314102564102564

In [251]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))#making a dataframe with result of test and train set
pd.crosstab(index=combined["actual"], columns=combined["predicted"])#returns a table telling how many times we were actually correct and how many times we were wrong

predicted    0   1
actual
0          149  51
1           64  48

In [252]:
#144 losses correctly predicted,62 losses wringly predicted
#50 wins correct,56 wins wrong

In [253]:
from sklearn.metrics import precision_score
precision_score(test["target"], preds)#tells us how accurate our model is

0.48484848484848486

In [254]:
grouped_matches = matches.groupby("team")#groups by the team

In [255]:
def rolling_averages(group, cols, new_cols):#func for calculating rolling averages
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()# means if for matchday4 dont include 4 calculate with 1,2,3
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)#drop all missing values
    return group

In [256]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]#gf_rolling,ga_rolinng,.....
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))#applies lambda function to all the members in the data frame

In [257]:
matches_rolling

                                  date   time         round  day venue result  \
team
Arsenal                  3  2022-08-27  17:30   Matchweek 4  Sat  Home      W
                         4  2022-08-31  19:30   Matchweek 5  Wed  Home      W
                         5  2022-09-04  16:30   Matchweek 6  Sun  Away      L
                         7  2022-09-18  12:00   Matchweek 8  Sun  Away      W
                         8  2022-10-01  12:30   Matchweek 9  Sat  Home      W
...                                ...    ...           ...  ...   ...    ...
Wolverhampton Wanderers  38 2024-04-13  15:00  Matchweek 33  Sat  Away      D
                         39 2024-04-20  19:30  Matchweek 34  Sat  Home      L
                         40 2024-04-24  19:45  Matchweek 29  Wed  Home      L
                         41 2024-04-27  15:00  Matchweek 35  Sat  Home      W
                         42 2024-05-04  17:30  Matchweek 36  Sat  Away      L

                              gf   ga         opponent   xg  ...  day_code  \
team                                                         ...
Arsenal                  3   2.0  1.0           Fulham  2.6  ...         5
                         4   2.0  1.0      Aston Villa  2.4  ...         2
                         5   1.0  3.0   Manchester Utd  1.3  ...         6
                         7   3.0  0.0        Brentford  1.5  ...         6
                         8   3.0  1.0        Tottenham  2.4  ...         5
...                          ...  ...              ...  ...  ...       ...
Wolverhampton Wanderers  38  2.0  2.0  Nott'ham Forest  1.0  ...         5
                         39  0.0  2.0          Arsenal  0.2  ...         5
                         40  0.0  1.0      Bournemouth  0.5  ...         2
                         41  2.0  1.0       Luton Town  1.2  ...         5
                         42  1.0  5.0  Manchester City  0.3  ...         5

                             target  gf_rolling ga_rolling sh_rolling  \
team
Arsenal                  3        1    3.000000   0.666667  14.333333
                         4        1    3.000000   1.000000  18.333333
                         5        0    2.333333   0.666667  19.333333
                         7        1    1.666667   1.666667  20.000000
                         8        1    2.000000   1.333333  17.000000
...                             ...         ...        ...        ...
Wolverhampton Wanderers  38       0    0.666667   1.666667  11.333333
                         39       0    1.333333   1.666667  10.666667
                         40       0    1.000000   2.000000   9.666667
                         41       1    0.666667   1.666667  10.333333
                         42       0    0.666667   1.333333  11.000000

                            sot_rolling dist_rolling  fk_rolling  pk_rolling  \
team
Arsenal                  3     5.000000    14.133333    0.333333    0.000000
                         4     7.000000    14.433333    0.333333    0.000000
                         5     7.333333    15.533333    0.666667    0.000000
                         7     6.333333    16.800000    1.000000    0.000000
                         8     6.000000    17.700000    0.666667    0.000000
...                                 ...          ...         ...         ...
Wolverhampton Wanderers  38    3.666667    17.466667    0.666667    0.333333
                         39    3.666667    17.966667    0.333333    0.333333
                         40    4.000000    20.533333    0.333333    0.333333
                         41    3.333333    18.766667    0.000000    0.000000
                         42    4.000000    19.666667    0.000000    0.000000

                             pkatt_rolling
team
Arsenal                  3        0.000000
                         4        0.000000
                         5        0.000000
                         7        0.000000
                         8        0.000000
...                                    ...
Wolverhampton Wanderers  38       0.333333
                         39       0.333333
                         40       0.333333
                         41       0.000000
                         42       0.000000

[1397 rows x 38 columns]

In [258]:
matches_rolling = matches_rolling.droplevel('team')#drop one level of index

In [259]:
matches_rolling

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
3,2022-08-27,17:30,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,2.6,...,5,1,3.000000,0.666667,14.333333,5.000000,14.133333,0.333333,0.000000,0.000000
4,2022-08-31,19:30,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,2.4,...,2,1,3.000000,1.000000,18.333333,7.000000,14.433333,0.333333,0.000000,0.000000
5,2022-09-04,16:30,Matchweek 6,Sun,Away,L,1.0,3.0,Manchester Utd,1.3,...,6,0,2.333333,0.666667,19.333333,7.333333,15.533333,0.666667,0.000000,0.000000
7,2022-09-18,12:00,Matchweek 8,Sun,Away,W,3.0,0.0,Brentford,1.5,...,6,1,1.666667,1.666667,20.000000,6.333333,16.800000,1.000000,0.000000,0.000000
8,2022-10-01,12:30,Matchweek 9,Sat,Home,W,3.0,1.0,Tottenham,2.4,...,5,1,2.000000,1.333333,17.000000,6.000000,17.700000,0.666667,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2024-04-13,15:00,Matchweek 33,Sat,Away,D,2.0,2.0,Nott'ham Forest,1.0,...,5,0,0.666667,1.666667,11.333333,3.666667,17.466667,0.666667,0.333333,0.333333
39,2024-04-20,19:30,Matchweek 34,Sat,Home,L,0.0,2.0,Arsenal,0.2,...,5,0,1.333333,1.666667,10.666667,3.666667,17.966667,0.333333,0.333333,0.333333
40,2024-04-24,19:45,Matchweek 29,Wed,Home,L,0.0,1.0,Bournemouth,0.5,...,2,0,1.000000,2.000000,9.666667,4.000000,20.533333,0.333333,0.333333,0.333333
41,2024-04-27,15:00,Matchweek 35,Sat,Home,W,2.0,1.0,Luton Town,1.2,...,5,1,0.666667,1.666667,10.333333,3.333333,18.766667,0.000000,0.000000,0.000000
42,2024-05-04,17:30,Matchweek 36,Sat,Away,L,1.0,5.0,Manchester City,0.3,...,5,0,0.666667,1.333333,11.000000,4.000000,19.666667,0.000000,0.000000,0.000000

In [260]:
matches_rolling.index = range(matches_rolling.shape[0])#sets index to start from 0

In [261]:
matches_rolling

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
0,2022-08-27,17:30,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,2.6,...,5,1,3.000000,0.666667,14.333333,5.000000,14.133333,0.333333,0.000000,0.000000
1,2022-08-31,19:30,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,2.4,...,2,1,3.000000,1.000000,18.333333,7.000000,14.433333,0.333333,0.000000,0.000000
2,2022-09-04,16:30,Matchweek 6,Sun,Away,L,1.0,3.0,Manchester Utd,1.3,...,6,0,2.333333,0.666667,19.333333,7.333333,15.533333,0.666667,0.000000,0.000000
3,2022-09-18,12:00,Matchweek 8,Sun,Away,W,3.0,0.0,Brentford,1.5,...,6,1,1.666667,1.666667,20.000000,6.333333,16.800000,1.000000,0.000000,0.000000
4,2022-10-01,12:30,Matchweek 9,Sat,Home,W,3.0,1.0,Tottenham,2.4,...,5,1,2.000000,1.333333,17.000000,6.000000,17.700000,0.666667,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392,2024-04-13,15:00,Matchweek 33,Sat,Away,D,2.0,2.0,Nott'ham Forest,1.0,...,5,0,0.666667,1.666667,11.333333,3.666667,17.466667,0.666667,0.333333,0.333333
1393,2024-04-20,19:30,Matchweek 34,Sat,Home,L,0.0,2.0,Arsenal,0.2,...,5,0,1.333333,1.666667,10.666667,3.666667,17.966667,0.333333,0.333333,0.333333
1394,2024-04-24,19:45,Matchweek 29,Wed,Home,L,0.0,1.0,Bournemouth,0.5,...,2,0,1.000000,2.000000,9.666667,4.000000,20.533333,0.333333,0.333333,0.333333
1395,2024-04-27,15:00,Matchweek 35,Sat,Home,W,2.0,1.0,Luton Town,1.2,...,5,1,0.666667,1.666667,10.333333,3.333333,18.766667,0.000000,0.000000,0.000000
1396,2024-05-04,17:30,Matchweek 36,Sat,Away,L,1.0,5.0,Manchester City,0.3,...,5,0,0.666667,1.333333,11.000000,4.000000,19.666667,0.000000,0.000000,0.000000

In [262]:
def make_predictions(data, predictors):#just making the last step into a function
    train = data[data["date"] < '2024-01-01']
    test = data[data["date"] > '2024-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error

In [263]:
combined, error = make_predictions(matches_rolling, predictors + new_cols)#also taking in the new cols

In [264]:
error

0.5454545454545454

In [265]:
combined

      actual  predicted
55         1          1
56         1          1
57         1          1
58         1          1
59         1          0
...      ...        ...
1392       0          0
1393       0          0
1394       0          0
1395       1          0
1396       0          0

[312 rows x 2 columns]

In [266]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [267]:
combined

,actual,predicted,date,team,opponent,result
55,1,1,2024-01-20,Arsenal,Crystal Palace,W
56,1,1,2024-01-30,Arsenal,Nott'ham Forest,W
57,1,1,2024-02-04,Arsenal,Liverpool,W
58,1,1,2024-02-11,Arsenal,West Ham,W
59,1,0,2024-02-17,Arsenal,Burnley,W
...,...,...,...,...,...,...
1392,0,0,2024-04-13,Wolverhampton Wanderers,Nott'ham Forest,D
1393,0,0,2024-04-20,Wolverhampton Wanderers,Arsenal,L
1394,0,0,2024-04-24,Wolverhampton Wanderers,Bournemouth,L
1395,1,0,2024-04-27,Wolverhampton Wanderers,Luton Town,W
1396,0,0,2024-05-04,Wolverhampton Wanderers,Manchester City,L

In [268]:
"""class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)"""

'class MissingDict(dict):\n    __missing__ = lambda self, key: key\n\nmap_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} \nmapping = MissingDict(**map_values)'

In [269]:
map_values = {
    "Brighton and Hove Albion": "Brighton",
    "Manchester United": "Manchester Utd",
    "Newcastle United": "Newcastle Utd",
    "Tottenham Hotspur": "Tottenham",
    "West Ham United": "West Ham",
    "Wolverhampton Wanderers": "Wolves"
}

# Ensure all values in 'team' column are trimmed to remove leading/trailing whitespaces
combined['team'] = combined['team'].str.strip()

# Use map method to replace team names
combined['new_team'] = combined['team'].map(map_values).fillna(combined['team'])

In [270]:
combined

,actual,predicted,date,team,opponent,result,new_team
55,1,1,2024-01-20,Arsenal,Crystal Palace,W,Arsenal
56,1,1,2024-01-30,Arsenal,Nott'ham Forest,W,Arsenal
57,1,1,2024-02-04,Arsenal,Liverpool,W,Arsenal
58,1,1,2024-02-11,Arsenal,West Ham,W,Arsenal
59,1,0,2024-02-17,Arsenal,Burnley,W,Arsenal
...,...,...,...,...,...,...,...
1392,0,0,2024-04-13,Wolverhampton Wanderers,Nott'ham Forest,D,Wolves
1393,0,0,2024-04-20,Wolverhampton Wanderers,Arsenal,L,Wolves
1394,0,0,2024-04-24,Wolverhampton Wanderers,Bournemouth,L,Wolves
1395,1,0,2024-04-27,Wolverhampton Wanderers,Luton Town,W,Wolves
1396,0,0,2024-05-04,Wolverhampton Wanderers,Manchester City,L,Wolves

In [271]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [272]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,1,1,2024-01-20,Arsenal,Crystal Palace,W,Arsenal,0,0,Crystal Palace,Arsenal,L,Crystal Palace
1,1,1,2024-01-30,Arsenal,Nott'ham Forest,W,Arsenal,0,0,Nottingham Forest,Arsenal,L,Nottingham Forest
2,1,1,2024-02-04,Arsenal,Liverpool,W,Arsenal,0,0,Liverpool,Arsenal,L,Liverpool
3,1,1,2024-02-11,Arsenal,West Ham,W,Arsenal,0,0,West Ham United,Arsenal,L,West Ham
4,1,0,2024-02-17,Arsenal,Burnley,W,Arsenal,0,0,Burnley,Arsenal,L,Burnley
...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,0,0,2024-04-13,Wolverhampton Wanderers,Nott'ham Forest,D,Wolves,0,1,Nottingham Forest,Wolves,D,Nottingham Forest
276,0,0,2024-04-20,Wolverhampton Wanderers,Arsenal,L,Wolves,1,0,Arsenal,Wolves,W,Arsenal
277,0,0,2024-04-24,Wolverhampton Wanderers,Bournemouth,L,Wolves,1,0,Bournemouth,Wolves,W,Bournemouth
278,1,0,2024-04-27,Wolverhampton Wanderers,Luton Town,W,Wolves,0,0,Luton Town,Wolves,L,Luton Town
279,0,0,2024-05-04,Wolverhampton Wanderers,Manchester City,L,Wolves,1,1,Manchester City,Wolves,W,Manchester City

In [273]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["actual_x"].value_counts()

1    50
0    34
Name: actual_x, dtype: int64

In [276]:
accuracy

0.6314102564102564